In [3]:
import pandas as pd
import json
import os

In [ ]:
# As my dataframe was too large to process in a single run, 
# I split it into 41 smaller files, and I recombined them.

In [13]:
import pandas as pd
import glob

path = r'D:\Programming\LHL-data-notes\Final\datachunksent\combine' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_19984\3280691649.py:7: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_19984\3280691649.py:7: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_19984\3280691649.py:7: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_19984\3280691649.py:7: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [10]:
df.tail()

,Unnamed: 0.1,Unnamed: 0,book_id,rating,review_text,original_publication_month,text_reviews_count,original_publication_year,original_title,rating_dist,original_publication_day,ratings_count,rev_year,rev_month,month_diff,time_cat,BERT_sent
656966,56960,3565370,12963147,5,"In Love in Disguise, Carol Cox skillfully weav...",2,182.0,2013,NaN,5:357|4:473|3:355|2:97|1:37|total:1319,22.0,1319.0,2013.0,6,4,0.50,0.843520
656967,56961,3565371,13263377,5,Double Exposure by Susan Sleeman is a well-tho...,1,52.0,2012,NaN,5:70|4:81|3:34|2:4|1:2|total:191,1.0,191.0,2013.0,6,17,2.00,0.859995
656968,56962,3565373,13548195,5,"Catherine Miller, the heroine of the story is ...",1,35.0,2012,Navy SEAL Rescuer,5:111|4:93|3:60|2:21|1:2|total:287,1.0,287.0,2013.0,6,17,2.00,0.342013
656969,56963,3565374,13261268,5,Broken Trust by Sharon Dunn is a romantic susp...,1,21.0,2012,NaN,5:16|4:30|3:13|2:1|1:0|total:60,1.0,60.0,2013.0,6,17,2.00,0.487069
656970,56964,3565375,16109790,4,The book will appeal to those who enjoy romanc...,6,152.0,2013,Trouble in Store,5:247|4:342|3:226|2:48|1:11|total:874,1.0,874.0,2013.0,7,1,0.25,0.931078

In [14]:
df.isnull().sum()

Unnamed: 0.2                        0
Unnamed: 0.1                        0
Unnamed: 0                          0
book_id                             0
rating                              0
review_text                         0
original_publication_month          0
text_reviews_count                  0
original_publication_year           0
original_title                1368564
rating_dist                         0
original_publication_day       106379
ratings_count                       0
rev_year                            0
rev_month                           0
month_diff                          0
time_cat                       483154
BERT_sent                           0
dtype: int64

In [15]:
df.to_csv('combinedsent.csv')